body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    text-align: center;
}

.line:first-child {
    margin-top: 30px;
}

.line:nth-child(1) section {
    background: #68ff76;
}

.line:nth-child(2) section {
    background: #56e4ff;
}

.line p.description {
    letter-spacing: 4px;
    margin: 20px 0 0;
    font-size: 0.75em;
    text-transform: uppercase;
}

section {
    margin: 10px 20px 10px 0;
    width: 110px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

section:nth-of-type(1) {
    margin-left: 20px;
}

.line section p {
    margin: 0;
}

p.minutes {
    font-size: 4em;
}

p.time {
    font-size: 0.8em;
    letter-spacing: 6px;
    position: relative;
    left: 3px;
}

.line section p.destination {
    height: 1.1em;
    overflow: hidden;
}

#refresh {
    width: 286px;
    padding: 25px 0;
    margin: 30px auto 20px;
    display: block;
    border-radius: 5px;
    border: none;
    background: #575757;
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
}

#refresh:active {
    background: orange;
    outline: none;
}

#refresh:focus {
    outline: none;
}
