<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prochain 102</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <link href="{{ url_for('static', 'css/main.css') }}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    {% for stop, times in lines.items() %}
        {% include "line.html" %}
    {% endfor %}
</div>
<button id="refresh">Actualiser</button>
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#refresh").click(update);
    });
    function update() {
        $('.line').each(function () {
            updateLine($(this));
        });
    }
    function updateLine($line) {
        var key = $line.find(".description").text();
        $.get("{{ url_for('line', key='') }}" + key, function (times) {
            for (var i = 0; i < times.length; i++) {
                var $section = $line.find("section").eq(i);
                console.log(times[i][0] + ', ' + times[i][1]);
                $section.find(".destination").text(times[i][0]);
                $section.find(".minutes").text(times[i][1]);
                $section.find(".time").text(times[i][2]);
            }
        });
    }
</script>
</body>
</html>